.title-container {
  width: 100%;
  top: 60px;
  position: fixed;
  padding-top: 3px;
  padding-left: 30px;
}

.title-container h1 {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.games-list {
  flex: 1;
  margin-top: 90px;
  padding-left: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
}