.main-game-root {
  padding: 16px;
  padding-top: 80px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-content {
  margin-top: 20px;
}

